
@{
    ViewBag.Title = "Administration";
}
<h2>Administration</h2>

@Html.ActionLink("Product Admin", "ProductList", null, new { @class="btn btn-lg btn-info" })
@Html.ActionLink("Voucher Types", "VoucherTypeList", null, new { @class = "btn btn-lg btn-info" })
@Html.ActionLink("Vouchers", "VoucherList", null, new { @class = "btn btn-lg btn-info" })

